.hero {
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myclock {
    position: relative;
    height: 500px;
    width: 500px;

    border: 1px solid black;
    border-radius: 50%;

    background-color: black;

    transform: rotate(-90deg);

    border: 2px solid chartreuse;
}

.spoke {
    width: 200px;
    transform-origin: 0%;

    position: absolute;
    top: 50%;
    left: 50%;

    text-align: end;

    color: chartreuse;
}

.hour,
.minute,
.second {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 10px;

    transform-origin: 0%;

    background-color: chartreuse;

}

.minute {
    width: 150px;
    border: 1px solid white;
}

.second {
    width: 200px;
    height: 5px;
    background-color: gray;
}


/*  */



.startclock {
    width: 100px;
    height: 50px;
    background-color: black;
    color: chartreuse;
    cursor: pointer;

    transition: all 0.27s ease-in-out;

    border: 2px solid chartreuse;
}

.startclock:hover {
    background-color: chartreuse;
    color: black;
}


/*  */

@media screen and (max-width:600px) {
    .hero {
        height: 100%;

    }
}