.hero {
    height: 85%;
    background-color: black;
    color: red;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.strt,
.rstrt {
    background-color: black;
    color: red;
    margin-left: 50%;
}

@media screen and (max-width: 600px) {
    .hero {
        height: 100vh;
        font-size: 0.5em;
    }
}