.wamhero {
    height: 85vh;
    background-color: black;
    color: red;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wamh1 {
    text-align: center;
    margin: 0px;
}

.wamboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    margin: auto;
}

.plpa {
    background-color: black;
    color: red;
    margin-left: 50%
}


/*  */

@media screen and (max-width:600px) {
    .wamhero {
        height: 100vh;

    }
}